<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="Description" content="Author: GostGroup. Ets">
    <meta name="version" content={{htmlWebpackPlugin.options.version}} />
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Expires" content="-1">
    <link rel="manifest" href="{{htmlWebpackPlugin.options.publicPath}}manifest.json">
    <meta http-equiv="Cache-Control" content="max-age=86400" />
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="{{htmlWebpackPlugin.options.themeColor}}">
    <meta name="theme-color" content="{{htmlWebpackPlugin.options.themeColor}}" />
    <title>{{htmlWebpackPlugin.options.title}}</title>
    
    <script>
      if ('serviceWorker' in navigator) {
        if (!Boolean({{htmlWebpackPlugin.options.DEVELOPMENT}})) {
          window.addEventListener('load', function() {
            navigator.serviceWorker.register('sw.js', { scope: '{{htmlWebpackPlugin.options.publicPath}}' || '.' }).then(function(registration) {
              // Registration was successful
              registration.update();
              console.log('ServiceWorker registration successful with scope: ', registration.scope);
            }, function(err) {
              // registration failed :(
              console.log('ServiceWorker registration failed: ', err);
            }).catch(function(err) {
              console.log(err)
            });
          });
        }
      } else {
        // console.log('service worker is not supported');
      }
    </script>
    <style>
      noscript {
        position: absolute;
        top: 0;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 100000;
        background: white;
      }
      html, body {
        height: 100%;
        margin: 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }
       #image_container {
        margin: 0;
        font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
      }

      ::selection {
        background: #7fc650; /* WebKit/Blink Browsers */
        color: white;
      }
      ::-moz-selection {
        background: #7fc650; /* Gecko Browsers */
        color: white;
      }
      #main-loading {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;

        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: opacity 0.2s;
        will-change: opacity;
        z-index: 10000;
      }

      .loading-container {
        display: flex;
        align-items: baseline;
        padding: 20px;
        font-size: 40px;
      }

      .loading-container .title {
        margin: 5px;
        margin-bottom: 300px;
      }

      .play_dot_container {
        display: flex;
        margin: 5px;
      }

      @keyframes playDot {
        from {transform: translateY(0px) scaleX(1)}
        15% {transform: translateY(-20px) scaleX(0.5)}
        30% {transform: translateY(0px) scaleX(1)}
        to {transform: translateY(0px)}
      }

      .dot {
        -webkit-animation: playDot 2s infinite ease;
        -moz-animation: playDot 2s infinite ease;
        animation: playDot 2s infinite ease;
        
      }
      .dot.one {
        animation-delay: 0.4s;
      }
      .dot.two {
        animation-delay: 0.6s;
      }
      .dot.three {
        animation-delay: 0.8s;
      }
    </style>
  </head>
  <body>
    <div id="container"></div>
    <div id="modal_container"></div>
    <div id="image_container"></div>
    <div id="notification_container"></div>
    <div id="main-loading">
      <div class="loading-container">
        <div class="title">Идёт загрузка</div>
        <div class="play_dot_container">
          <div class="dot one">.</div>
          <div class="dot two">.</div>
          <div class="dot three">.</div>
        </div>
      </div>
    </div>
    <noscript><p>Ваш браузер не поддерживает javascript</p></noscript> 
  </body>
</html>
